body { font-family: 'Roboto'; margin: 0; padding: 0; color: #363d40;
  h2 { font-size: 26px; font-weight: 700; }
  h3 { font-size: 20px; font-weight: 700; }
  p { font-family: 'Roboto'; line-height: 150%; }
}

img { max-width: 100%; }
.image .caption { font-style: italic; }

.banner { padding: 12px; border-radius: 3px; background: #363d40; color: #fff;
  .button { margin-top: 12px; }
}

.button { @include button; }
.clear:after { display: block; content: ''; clear: both; }